.message {
    color: green;
    background: rgba(211, 211, 211, 0.493);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
    background: rgba(211, 211, 211, 0.493);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blogList {
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
}